:root{
    --primary-color: lightskyblue;
    --secondary-color: white;
    --primary-font-color: black;
    --secondary-font-color: #495057;

}
body{
    background-color: var(--primary-color);
    color: var(--primary-font-color);
}
.converter-header{
    background-color: var(--secondary-color);
}
.converter-container{
    border: solid 1px var(--secondary-font-color);
    border-radius: 10px;
}
.form-control, .custom-select{
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
}
.form-control:focus, .custom-select:focus{
    box-shadow: 0 0 0 rgba(0, 0, 0, 0) inset, 0 0 0 rgba(0, 0, 0, 0);
    background-color: var(--secondary-color);
    color: var(--secondary-font-color);
}
#savedConversions{
    color: var(--primary-font-color);
}
.savedConversionTime{
    font-size: .75rem;
}
hr{
    background-color: var(--secondary-font-color);
}
.header{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 3px 7px -3px rgba(0,0,0,.15);
    height: 4.8rem;
}
.navbar-brand{
    text-shadow: rgba(0,0,0,.15) 3px 3px 3px;
    margin-right: auto;
}
.lastUpdatedContainer{
    font-size: .75rem;
}