.header{
    padding: .5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.header{
    box-shadow: 0 3px 7px -3px rgba(0,0,0,.15);
    height: 4.8rem;
}
.navbar-brand{
    text-shadow: rgba(0,0,0,.15) 3px 3px 3px;
    margin-right: auto;
}
.background_main{
    background-color: lightskyblue;
}
.converter-header{
    background-color: white;
}